<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.zzj.u_weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".weather.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".weather.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".weather.CityManagementActivity"/>
        <activity android:name=".weather.CityChooseActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <service android:name="com.app.zzj.u_weather.weather.WeatherDataService"/>

        <provider android:name=".Data.CityProvider"
            android:authorities="com.app.zzj.u_weather.Data.CityProvider"/>
    </application>

</manifest>